{% load static %}
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>Let's Meet</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="/static/css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/custom.css">
        <!-- favicon.ico. Place these in the root directory. -->
        <link rel="shortcut icon" href="favicon.ico">

    </head>

    <body>


    <!-- Header -->
    <header class="align--center pt3">
        <div class="container--lg border--bottom pb3">
            <img class="logo mb3" src="/static/img/logo.svg" alt="Let's Meet">
            <a  href="/signup"><img class="signin" src="/static/img/signin.svg" alt=""></a>
            <h1 class="mb2">The fastest way to schedule a meetup.</h1>
            <span>
                <a href="" class="addslack link"><img class="download" src="/static/img/btn-add-to-slack.png" alt=""></a>
            </span>
            <span>
                <a href="https://play.google.com/store" class="link"><img class="download" src="/static/img/googleplay.png" alt=""></a>
            </span>
        </div>
    </header>

    <main>

        <!-- Feature list -->
        <div class="container pt3 mt2 text--gray align--center">
            <p style="font: 32px grey ; font-weight:bold;">How it works !</p>
            <br><br>
            <div class="grid-row">
                <div class="grid-column span-one-third mb3">
                    <img class="illustration--small mb1" src="/static/img/assign.svg" alt="">
                    <p>Create an account on Let's Meet</p>
                </div>
                <div class="grid-column span-one-third mb3">
                    <img class="illustration--small mb1" src="/static/img/connected.svg" alt="">
                    <p>Select you availabilty slots</p>
                </div>


                <div class="grid-column span-one-third mb3">
                    <img class="illustration--small mb1" src="/static/img/messaging.svg" alt="">
                    <p>Let's Meet will organize when to meet. Thats it!</p>
                </div>

            </div>
        </div>

        <!-- Focus -->
        <div class="container--lg pt1 pb1">

            <div class="grid-row grid-row--center">
                <div class="grid-column mt3 mb2 order-2">
                    <div class="border--bottom pb2 mb2">
                        <h2>Schedule in a flash</h2>
                        <p>See when you're available and fill in availabilty slots on Let's Meet. Let's Meet will run through algorithms and pick the best suitable time for all the invitees. It's that simple!</p>
                    </div>
                    <p class="bold">A better way of organizing.</p>
                    <p class=" text--gray mb1">The time picked up by your invitees is matched with your availability slot, making scheduling a one-step effort for all.</p>

                </div>
                <div class="grid-column span-1"></div>
                <div class="grid-column mt3 mb2 order-1">
                    <img class="zoomin"src="/static/img/20200214_121421.png" alt="">
                </div>
            </div>

            <div class="grid-row grid-row--center">
                <div class="grid-column mt3 mb2">
                    <img src="/static/img/20200214_123549.png" alt="">
                </div>
                <div class="grid-column span-1"></div>
                <div class="grid-column mt3 mb2">
                    <div class="border--bottom pb2 mb2">
                        <h2>Pick Location, time and duration.</h2>
                        <p>Just pick the time, place and duration at your convenience and leave the rest to Let's meet. Let's Meet will troubleshoot your meetings being postponed due to lack of availabilty of people and will see for a common time, it will help you in webinars, venue meetups and more!</p>
                    </div>
                      <p style="font-size:32px;"class="bold">Let's Meet !</p><br>
                    <p class=" text--gray mb1">Spend more time with people and less time scheduling meetings.</p>

                </div>
            </div>

        </div>

        <!-- Mentioned -->


        <!-- CTA -->
        <div class="bg--dark-gray align--center pt3 pb3" style="background:url(/static/img/images2.png) center/contain;">
            <div class="container pt2 pb2">
                <img class="cta-image mb2 SLACK" src="/static/img/enterprise_grid.png" alt="">

                <p class="text--white bold mb3">Join Let's Meet Workspace using SLACK</p>

                <button class="btn btn--secondary">GET STARTED</button>
            </div>
        </div>

    </main>

    <!-- Footer -->
    <footer class="pt1 pb3 align--center-on-mobile">
        <div class="container">
            <div class="grid-row">
                <div class="grid-column mt2 span-half">
                    <div class="mb1">
                        <span>
                            <a href="" class="link addslack"><img class="download" src="/static/img/btn-add-to-slack.png" alt=""></a>
                        </span>
                        <span>
                            <a href="https://play.google.com/store" class="link"><img class="download" src="/static/img/googleplay.png" alt=""></a>
                        </span>
                    </div>
                </div>
                <div class="grid-column mt2 span-half align--right align--center-on-mobile">
                    <ul class="no-bullets list--inline">
                        <li class="mr1"><a href="" class="link"><img class="icon" src="/static/img/youtube.svg" alt="YouTube"></a></li>
                        <li class="mr1"><a href="" class="link"><img class="icon" src="/static/img/twitter.svg" alt="Twitter"></a></li>
                        <li><a href="" class="link"><img class="icon" src="/static/img/facebook.svg" alt="Facebook"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    </body>
</html>
